// Core variables
// Fonts
@font-color: #545454;
@font-color-dark: #3b3b3b;
@font-color-light: #a1a1a1;
@font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif;
@mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
@font-size: 16px;
@line-height: 1.75;

// Colors
@primary-color: #0056ff;
@bg-color: #fafafa;
@grey-color: #ededed;

// Spacing
@layout-padding-xs: 20px;
@layout-padding-sm: 40px;
@layout-padding-md: 80px;
@layout-padding-lg: 140px;

// Sizes
@unit-1: 4px;
@unit-2: 8px;
@unit-3: 12px;
@unit-4: 16px;
@unit-5: 20px;
@unit-6: 24px;
@unit-7: 28px;
@unit-8: 32px;
@unit-9: 36px;
@unit-10: 40px;

// Responsive breakpoints
@size-xs: 480px;
@size-sm: 600px;
@size-md: 840px;
@size-lg: 960px;
@size-xl: 1280px;

// Mixins
.clearfix() {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
